<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820632276408-flhu0c25hi56rjkg5aavgbkhsdr0nqti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820632276408-flhu0c25hi56rjkg5aavgbkhsdr0nqti</string>
	<key>API_KEY</key>
	<string>AIzaSyBh2GFqoGffu8EKH7EdXvjtxF28YPq1QB0</string>
	<key>GCM_SENDER_ID</key>
	<string>820632276408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eunjoong.portfolio</string>
	<key>PROJECT_ID</key>
	<string>portfolio-c5b86</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-c5b86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820632276408:ios:d83c4a976650d8c856134d</string>
</dict>
</plist>